@import "../../styles/variables.scss";

.card {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 1px solid black;

  &__image {
    width: 360px;
    height: 360px;
    border: 2px solid black;
    &_img {
      width: 100%;
      height: 100%;
      // margin: 20px auto;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: 90%;
    padding: 0 0px 20px 0px;

    &_title {
      font-size: 30px;
      font-weight: 500;
    }
    &_subtitle {
      font-size: 20px;
      font-weight: 300;
      color: $text-secondary-color;
    }
    &_action {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &_price {
        font-size: 30px;
      }
    }
  }
}
