.content {
  position: absolute;
  // margin-top: 50px;
  // padding-bottom: 100px;
  top: 55%;
  left: 50%;
  width: auto;
  max-height: 500px;
  overflow-y: scroll;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
table {
  width: 900px;
  height: 500px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 15px;
  background-color: #33cccc8f;
  color: #000000;
}
th {
  text-align: left;
}
thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #33cccc;
}

tbody tr:hover {
  background-color: #1b676777;
}
tbody td {
  position: relative;
}
