@import "../../styles/variables.scss";

.header {
  background-color: #fff;
  border-bottom: 1px solid #000000;
  padding: 22px;
  .container {
    max-width: $container-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    font-size: 30px;
  }

  &__profile {
    display: flex;
    gap: 15px;
  }
}
